
/**=======================================================**
                        BUTTONS START
**=======================================================**/

.up-btn {
	margin-left: auto;
	left: 100%;
	@include circle;
	padding: length(14);
	@include flex-center;
	cursor: pointer;
}

.btn-more {
	@include flex-center-vert;
	gap: length(10);

	.text {
		color: $select-text;
		@include font-face($primaryFont, style('normal'), size(14), weight('normal'), line-height(19.6, 14));

		@include breakpoint(tab992) {
			@include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(22.4, 16));
		}
	}

	.icon {
		display: inline-block;
		margin-top: length(-3);
	}

	@include hover {
		.text {
			color: $primary;
		}

		.icon {
			svg {
				path {
					fill: $primary;
				}
			}
		}
	}
}

.discount-badge {
	@include setBgColor($primary, $white);
	@include double-radius(top, right, 10, bottom, left, 10);
	display: inline-block;
	@include font-face($primaryFont, style('normal'), size(14), weight('normal'), line-height(19.6, 14));
	padding: length(8) length(14);
	text-align: center;
}

.swiper-button-prev,
.swiper-button-next {
	@include square(length(32));
	@include transparent-button;

	&::after {
		width: 0;
		height: 0;
		content: '';
		display: none;
	}

	svg {
		@include wh100;

		path {
			fill: $border-1;
		}
	}

	@include hover {
		svg {
			path {
				fill: $primary;
			}
		}
	}
}

.btn-full {
	@include setBgColor($primary, $white);
	@include radius(10);
	@include font-face($primaryFont, style('normal'), size(16), weight('bold'), line-height(22.4, 16));
	@include w100;
	display: inline-block;
	padding: length(16);
	text-align: center;
	@include transitionsall;

	@include hover {
		@include setBgColor(darken($primary, 15%), rgba($white, 0.75));
	}
}

.btn-submit {
	@include w100;
	padding: length(12);
	position: relative;
	background: $white;
	@include border(solid, 2, $primary);
	@include radius(5);
	@include flex-center;
	text-align: center;
	@include transitionsall;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		@include wh100;
		background: $primary;
		@include transitionsall;
	}

	.btn-text {
		color: $white;
		position: relative;
		@include font-face($primaryFont, style('normal'), size(14), weight('medium'), line-height(19.6, 14));
	
		@include breakpoint(tab992) {
			@include font-face($primaryFont, style('normal'), size(16), weight('medium'), line-height(22.4, 16));
		}
	}

	@include hover {
		.btn-text {
			color: $primary;
		}

		&::before {
			width: 0;
		}
	}
}

.btn-back {
	@include font-face($primaryFont, style('normal'), size(12), weight('normal'), line-height(16.8, 12));
	@include border(solid, 1.5, $primary);
	position: relative;
	padding: length(8) length(20);
	@include radius(30);
	@include setBgColor($white, $primary);
	@include transitionsall;

	@include hover {
		@include setBgColor($primary, $white);
	}
}

/**=======================================================**
                        BUTTONS END
**=======================================================**/