.myprofile {
  padding: length(0) length(0) length(48);

  @include breakpoint(tab992) {
    padding: length(0) length(8) length(64);
  }

  &-sidebar {
    background: $white;
    @include flex-column;

    .sidebar-header {
      padding: size(16);

      .title {
        color: $dark-2;
        @include font-face(
          $secondaryFont,
          style("normal"),
          size(18),
          weight("bold"),
          line-height(22, 18)
        );
        letter-spacing: size(0.08);
      }
    }

    .sidebar-body {
      @include flex-column;
      padding: size(4) size(0) size(0);
      background: $white;

      .profilelink {
        @include flex-center-between;
        @include setBgColor($white, $product-title);
        padding: size(12) size(16);
        @include border-single(bottom, dotted, 0.5, $ratecolor);

        &:last-of-type {
          border-bottom: 0;
        }

        .text {
          color: inherit;
          @include font-face(
            $secondaryFont,
            style("normal"),
            size(14),
            weight("normal"),
            line-height(23, 14)
          );
        }

        &:hover:not(.active) {
          background: $progressbg;

          .text {
            color: $primary;
          }
        }

        &.active {
          background: $progressbg;

          .text {
            color: $primary;
          }
        }
      }
    }
  }

  &-details {
    .personalinfo {
    }

    .shippingaddress {
    }
  }

  .change-details {
    background: $white;
    @include flex-column;
    gap: size(32);
    padding: size(20);

    @include breakpoint(mobile576) {
      padding: size(24);
    }

    @include breakpoint(mobile768) {
      padding: size(32);
    }

    @include breakpoint(tab992) {
      padding: size(48);
    }

    .change-header {
      .title {
        color: $labeltext;
        @include font-face(
          $secondaryFont,
          style("normal"),
          size(20),
          weight("semibold"),
          line-height(26, 20)
        );

        @include breakpoint(mobile768) {
          font-size: size(24);
        }

        @include breakpoint(tab992) {
          font-size: size(28);
        }
      }
    }

    .change-body {
      .changeform {
        @include flex-column;
        gap: size(40);

        &-header {
          @include flex-column;
          gap: size(24);

          .inputbox {
            @include flex-column;
            gap: size(8);

            .inputlabel {
              color: $labeltext;
              @include font-face(
                $secondaryFont,
                style("normal"),
                size(14),
                weight("medium"),
                line-height(16, 14)
              );
            }

            .inputfield {
              @include setBgColor($white, $black2);
              @include border(solid, 1, $input-border);
              @include radius(6);
              @include w100;
              @include font-face(
                $secondaryFont,
                style("normal"),
                size(14),
                weight("normal"),
                line-height(16, 14)
              );
              height: size(48);
              padding: size(16);
              @include transitionsall;

              &::placeholder {
                color: $placeholdertext;
              }

              &:focus {
                border-color: $border-1;
              }
            }
          }
        }

        &-body {
          @include flex-center-column;
          gap: size(12);
          text-align: center;

          .info {
            color: $labeltext;
            @include font-face(
              $secondaryFont,
              style("normal"),
              size(14),
              weight("normal"),
              line-height(16, 14)
            );

            .link {
              color: $labeltext;
              font-weight: 700;
              @include transitionscolor;

              @include hover {
                color: $black;
              }
            }
          }
        }
      }
    }
  }
}
