.myprofile {
  padding: length(0) length(0) length(48);

  @include breakpoint(tab992) {
    padding: length(0) length(8) length(64);
  }

  &-sidebar {
    background: $white;
    @include flex-column;

    .sidebar-header {
      padding: size(16);

      .title {
        color: $dark-2;
        @include font-face(
          $secondaryFont,
          style("normal"),
          size(18),
          weight("bold"),
          line-height(22, 18)
        );
        letter-spacing: size(0.08);
      }
    }

    .sidebar-body {
      @include flex-column;
      padding: size(4) size(0) size(0);
      background: $white;

      .profilelink {
        @include flex-center-between;
        @include setBgColor($white, $product-title);
        padding: size(12) size(16);
        @include border-single(bottom, dotted, 0.5, $ratecolor);

        &:last-of-type {
          border-bottom: 0;
        }

        .text {
          color: inherit;
          @include font-face(
            $secondaryFont,
            style("normal"),
            size(14),
            weight("normal"),
            line-height(23, 14)
          );
        }

        &:hover:not(.active) {
          background: $progressbg;

          .text {
            color: $primary;
          }
        }

        &.active {
          background: $progressbg;

          .text {
            color: $primary;
          }
        }
      }
    }
  }

  &-details {
    @include w100;

    .profileinfo {
      @include w100;
      background: $white;
      padding: size(16) size(16) size(32);

      @include breakpoint(mobile768) {
        padding: size(24) size(24) size(48);
      }

      &-header {
        @include flex-center-vert;
        gap: size(16);

        .uploadinfo {
          position: relative;

          .user-profile {
            @include square(size(60));
            @include flex-center;
            @include circle;
            overflow: hidden;
            position: relative;

            @include breakpoint(tab992) {
              @include square(size(84));
            }

            img {
              @include wh100;
            }
          }

          .uploadlabel {
            @include square(size(24));
            background: $uploadbtnbg;
            @include circle;
            cursor: pointer;
            @include flex-center;
            overflow: hidden;
            padding: size(7);
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 10;

            svg {
              @include wh100;
            }
          }
        }

        .userdescript {
          @include flex-column;
          gap: size(4);

          .name {
            color: $dark-2;
            @include font-face(
              $secondaryFont,
              style("normal"),
              size(18),
              weight("bold"),
              line-height(22, 18)
            );
            letter-spacing: size(0.08);
          }

          .phonenumber {
            color: $ratingtext;
            @include font-face(
              $secondaryFont,
              style("normal"),
              size(14),
              weight("normal"),
              line-height(23, 14)
            );
          }
        }
      }

      &-body {
      }
    }

    .shippingaddress {
    }
  }

  .change-details {
    background: $white;
    @include flex-column;
    gap: size(32);
    padding: size(20);

    @include breakpoint(mobile576) {
      padding: size(24);
    }

    @include breakpoint(mobile768) {
      padding: size(32);
    }

    @include breakpoint(tab992) {
      padding: size(48);
    }

    .change-header {
      .title {
        color: $labeltext;
        @include font-face(
          $secondaryFont,
          style("normal"),
          size(20),
          weight("semibold"),
          line-height(26, 20)
        );

        @include breakpoint(mobile768) {
          font-size: size(24);
        }

        @include breakpoint(tab992) {
          font-size: size(28);
        }
      }
    }

    .change-body {
      .changeform {
        @include flex-column;
        gap: size(40);

        &-header {
          @include flex-column;
          gap: size(24);

          .inputbox {
            @include flex-column;
            gap: size(8);

            .inputlabel {
              color: $labeltext;
              @include font-face(
                $secondaryFont,
                style("normal"),
                size(14),
                weight("medium"),
                line-height(16, 14)
              );
            }

            .inputfield {
              @include setBgColor($white, $black2);
              @include border(solid, 1, $input-border);
              @include radius(6);
              @include w100;
              @include font-face(
                $secondaryFont,
                style("normal"),
                size(14),
                weight("normal"),
                line-height(16, 14)
              );
              height: size(48);
              padding: size(16);
              @include transitionsall;

              &::placeholder {
                color: $placeholdertext;
              }

              &:focus {
                border-color: $border-1;
              }
            }
          }
        }

        &-body {
          @include flex-center;
        }
      }
    }
  }
}
