.myprofile {
  padding: length(0) length(0) length(48);

  @include breakpoint(tab992) {
    padding: length(0) length(8) length(64);
  }

  &-sidebar {
    background: $white;
    @include flex-column;

    .sidebar-header {
      padding: size(16);

      .title {
        color: $dark-2;
        @include font-face(
          $secondaryFont,
          style("normal"),
          size(18),
          weight("bold"),
          line-height(22, 18)
        );
        letter-spacing: size(0.08);
      }
    }

    .sidebar-body {
      @include flex-column;
      padding: size(4) size(0) size(0);

      .profilelink {
        @include flex-center-between;
        @include setBgColor($white, $product-title);
        padding: size(12) size(16);
        @include border-single(bottom, dotted, 0.5, $ratecolor);

        &:last-of-type {
          border-bottom: 0;
        }

        .text {
          color: inherit;
          @include font-face(
            $secondaryFont,
            style("normal"),
            size(14),
            weight("normal"),
            line-height(23, 14)
          );
        }

        &.active {
          background: $progressbg;

          .text {
            color: $primary;
          }
        }
      }
    }
  }

  &-details {
    .personalinfo {
    }

    .shippingaddress {
    }
  }
}
