/**=======================================================**
                        CARDS START
**=======================================================**/

.card-horizontal {
  background: $white;
  @include radius(10);
  @include flex-center-vert;
  align-items: flex-start;
  gap: length(14);
  padding: length(14);

  .card-thumbnail {
    @include square(length(96));
    @include flex-center;
    overflow: hidden;

    img {
      @include wh100;
      object-fit: cover;
    }
  }

  &-body {
    @include flex-column;
    gap: length(16);
    width: calc(100% - 6rem);

    .card-details {
      @include flex-column;
      gap: length(8);

      .titlebox {
        .cardtitle {
          color: $text-primary;
          @include font-face(
            $primaryFont,
            style("normal"),
            size(14),
            weight("normal"),
            line-height(19.6, 14)
          );
          @include line-clamp;
          height: length(39.19);
          @include transitionscolor;

          @include hover {
            color: $primary;
          }
        }
      }

      .wishprice {
        @include flex-center-between;

        .currentprice {
          width: calc(100% - 1.5rem);
        }

        .wishlistdelete {
          width: length(24);

          .delete {
            @include w100;

            .btn-delete {
              @include w100;
            }
          }
        }
      }

      .pricebox {
        .pricecount {
          @include flex-center-vert;
          gap: length(20);

          .priceinfo {
            span {
              color: $border-1;
              @include font-face(
                $primaryFont,
                style("normal"),
                size(14),
                weight("normal"),
                line-height(19.6, 14)
              );
            }
          }

          .prevprice {
            color: $border-1;
            @include font-face(
              $primaryFont,
              style("normal"),
              size(14),
              weight("normal"),
              line-height(19.6, 14)
            );
            text-decoration: line-through;

            span {
              text-decoration: line-through;
            }
          }
        }
      }

      .currentprice {
        color: $text-primary;
        @include font-face(
          $primaryFont,
          style("normal"),
          size(14),
          weight("bold"),
          line-height(19.6, 14)
        );
      }
    }

    .count-delete {
      @include flex-center-between;

      .count {
        background: $cartcounterbg;
        @include flex-center-vert;
        @include radius(5);
        overflow: hidden;

        .countfield {
          @include font-face(
            $primaryFont,
            style("normal"),
            size(14),
            weight("normal"),
            line-height(19.6, 14)
          );
          height: length(32);
          width: length(48);
          @include setBgColor(transparent, $text-primary);
          text-align: center;
          padding: length(4);
        }

        .btn-decrement,
        .btn-increment {
          @include square(length(32));
          @include flex-center;
          padding: length(12);

          svg {
            @include wh100;
          }
        }

        .btn-decrement {
          background: $decrementbg;
        }

        .btn-increment {
          background: $border-primary;
        }
      }
    }
  }
}

.card-suggestion {
  @include flex-center-vert;
  gap: length(14);
  background: $white;
  padding: length(8);
  cursor: pointer;
  @include transitionsbackground;

  &-cap {
    @include square(length(64));
    @include flex-center;
    overflow: hidden;

    img {
      @include wh100;
      object-fit: contain;
    }
  }

  &-details {
    width: calc(100% - 4.875rem);
    @include flex-column;

    .suggestion-title {
      color: $text-primary;
      @include font-face(
        $primaryFont,
        style("normal"),
        size(12),
        weight("medium"),
        line-height(16.8, 12)
      );
      @include text-overflow;

      @include breakpoint(mobile480) {
        @include font-face(
          $primaryFont,
          style("normal"),
          size(14),
          weight("medium"),
          line-height(19.6, 14)
        );
      }
    }
  }

  @include hover {
    background: $prodboxbg;

    @include breakpoint(tab992) {
      background: $notifybg;
    }
  }
}

.product {
  @include flex-center-column;
  gap: length(12);
  padding: length(0) length(16) length(16);
  background: $white;
  @include radius(10);
  position: relative;
  @include h100;

  .discount-badge {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
  }

  &-header {
    @include w100;
    height: length(120);
    overflow: hidden;

    @include breakpoint(mobile414) {
      height: length(180);
    }

    img {
      @include wh100;
      object-fit: contain;
      @include transitiontransform;

      @include hover {
        @include transform(scale(1.05));
      }
    }
  }

  &-body {
    @include flex-center-column;
    gap: length(12);
    text-align: center;
    @include w100;

    .cardlink {
      height: length(36);
      overflow: hidden;
      @include flex-center-vert;

      @include breakpoint(mobile576) {
        height: length(42);
      }

      @include breakpoint(tab992) {
        height: length(45);
      }
    }

    .product-title {
      color: $dark-1;
      @include font-face(
        $primaryFont,
        style("normal"),
        size(12),
        weight("normal"),
        line-height(16.8, 12)
      );
      @include line-clamp;
      align-items: center;
      @include transitionscolor;

      @include breakpoint(mobile576) {
        @include font-face(
          $primaryFont,
          style("normal"),
          size(14),
          weight("normal"),
          line-height(19.6, 14)
        );
      }

      @include breakpoint(tab992) {
        @include font-face(
          $primaryFont,
          style("normal"),
          size(16),
          weight("normal"),
          line-height(22.4, 16)
        );
      }

      @include hover {
        color: $primary;
      }
    }

    .review {
      @include flex-center-vert;
      gap: length(4);

      .reviewcount {
        @include font-face(
          $primaryFont,
          style("normal"),
          size(14),
          weight("medium"),
          line-height(19.6, 14)
        );
        color: $ratingColor;
      }

      .reviewlist {
        @include list-horizontal;
        gap: length(3);

        &-item {
          @include square(length(10));
          @include flex-center;
          overflow: hidden;

          svg {
            @include wh100;
          }
        }
      }
    }

    .prices {
      @include flex-center;
      flex-wrap: wrap;
      gap: length(8);
      text-align: center;

      @include breakpoint(tab992) {
        gap: length(12);
      }

      .current-price {
        color: $secondary;
        @include font-face(
          $primaryFont,
          style("normal"),
          size(14),
          weight("medium"),
          line-height(19.6, 14)
        );

        @include breakpoint(tab992) {
          @include font-face(
            $primaryFont,
            style("normal"),
            size(16),
            weight("medium"),
            line-height(22.4, 16)
          );
        }
      }

      .previous-price {
        color: $text-primary;
        @include font-face(
          $primaryFont,
          style("normal"),
          size(14),
          weight("normal"),
          line-height(19.6, 14)
        );
        text-decoration: line-through;

        span {
          color: inherit;
          font: inherit;
          text-decoration: line-through;
        }

        @include breakpoint(tab992) {
          @include font-face(
            $primaryFont,
            style("normal"),
            size(16),
            weight("normal"),
            line-height(22.4, 16)
          );
        }
      }
    }

    .addbutton {
      @include flex-center;
      @include w100;
    }
  }

  @include hover {
    .product-buttons {
      opacity: 1;
      visibility: visible;
    }
  }
}

.card-order {
  background: $white;
  padding: length(12);
  @include flex-center-vert;
  align-items: flex-start;
  gap: length(14);
  @include radius(8);

  &-cap {
    @include square(length(96));
    background: $capbg;
    @include flex-center;
    padding: length(4) length(12);

    img {
      @include wh100;
      object-fit: contain;
    }
  }

  &-details {
    width: calc(100% - 6rem);
    @include flex-column;
    gap: length(4);

    @include breakpoint(mobile768) {
      gap: length(12);
    }

    .orderid-orderbadge {
      @include flex-center-between;
      gap: length(4);
      flex-wrap: wrap;

      .orderid {
        color: $dark-2;
        @include font-face(
          $primaryFont,
          style("normal"),
          size(14),
          weight("semibold"),
          line-height(19.6, 14)
        );

        @include breakpoint(mobile768) {
          @include font-face(
            $primaryFont,
            style("normal"),
            size(18),
            weight("semibold"),
            line-height(30, 18)
          );
        }
      }

      .orderbadge {
        .orderedbadge {
          @include font-face(
            $primaryFont,
            style("normal"),
            size(12),
            weight("normal"),
            line-height(19.6, 12)
          );
          padding: length(4) length(8);
          text-align: center;
          @include radius(4);
          &.badge-success {
            @include setBgColor($successbg, $successcolor);
          }

          &.badge-pending {
            @include setBgColor($pendingbg, $pendingcolor);
          }

          &.badge-cancelled {
            @include setBgColor($dangerbg, $dangercolor);
          }
        }
      }
    }

    .orderdate {
      color: $text-primary;
      @include font-face(
        $primaryFont,
        style("normal"),
        size(12),
        weight("normal"),
        line-height(19.6, 12)
      );

      @include breakpoint(mobile768) {
        @include font-face(
          $primaryFont,
          style("normal"),
          size(14),
          weight("normal"),
          line-height(19.6, 14)
        );
      }
    }

    .orderprice {
      color: $dark-1;
      @include font-face(
        $primaryFont,
        style("normal"),
        size(16),
        weight("semibold"),
        line-height(22.4, 16)
      );

      span {
        color: inherit;
        font: inherit;
      }
    }
  }
}

/**=======================================================**
                        CARDS END
**=======================================================**/
