/**=======================================================**
                        TAB START
**=======================================================**/
.nav-tabs {
  border: none;
  @include radius(0);
  border: 0;

  .nav-item {
    width: calc((100% / 3) - 0.25rem);
  }

  .nav-link {
    @include w100;
    padding: length(12) length(10);
    margin: 0;
    @include radius(0);
    border: 0;

    &:hover:not(.active) {
      border-color: transparent;
      outline: none;
    }

    // &.active {
    // }
  }
}

/**=======================================================**
                        TAB END
**=======================================================**/
