/**=======================================================**
                      WISHLIST SECTION START
**=======================================================**/

.wishlist {
  padding: length(32) length(8) length(48);
  
  @include breakpoint(tab992) {
    padding: length(32) length(8) length(64);
  }

  &-content {
    @include flex-column;
    gap: length(24);

    @include breakpoint(tab992) {
      gap: length(32);
    }
  }

  &-header {
    .wishlist-title {
      color: $dark-1;
      @include font-face($primaryFont, style('normal'), size(20), weight('medium'), line-height(28, 20));

      @include breakpoint(tab992) {
        @include font-face($primaryFont, style('normal'), size(32), weight('medium'), line-height(44.8, 32));
      }
    }
  }

  &-body {
    .mywishlist {
      @include flex-column;
      gap: length(24);
    }
  }

  .emptywishlist {
    @include wh100;

    .wishlistbox {
      height: calc(100vh - 15rem);
      @include flex-center-column;
      gap: length(16);

      @include breakpoint(tab992) {
        height: calc(100vh - 13rem);
      }

      .icon {
        @include square(length(140));
        @include flex-center;
        overflow: hidden;

        @include breakpoint(mobile768) {
          @include square(length(200));
        }
  
        svg {
          @include wh100;
        }
      }

      .text {
        color: $text-primary;
        @include font-face($primaryFont, style('normal'), size(16), weight('medium'), line-height(24, 16));
        text-align: center;

        @include breakpoint(mobile576) {
          @include font-face($primaryFont, style('normal'), size(20), weight('medium'), line-height(28, 20));
        }

        @include breakpoint(mobile768) {
          @include font-face($primaryFont, style('normal'), size(24), weight('medium'), line-height(32, 24));
        }

        @include breakpoint(tab992) {
          @include font-face($primaryFont, style('normal'), size(30), weight('medium'), line-height(48, 30));
        }
      }
    }
  }
}

/**=======================================================**
                      WISHLIST SECTION END
**=======================================================**/