/**=======================================================**
                    		MODAL START
**=======================================================**/

.modal {
	&-content {
		overflow: hidden;
		border: none;
	}

	&-header {
		border-bottom: length(0);
		// padding: length(32);

		// @include breakpoint(phone575) {
		//     padding: length(16);
		// }

		.btn-close {
			@include square(length(36));
			background: transparent;
			margin: 0;
			padding: 0;
			padding: length(8);
			@include flex-center;
			@include circle;
			opacity: 1;

			svg {
				@include wh100;
				@include transitiontransform;

				path {
					@include transitionsall;
				}
			}

			&:focus {
				box-shadow: none;
				outline: none;
			}

			@include hover {
				svg {
					path {
						stroke: $primary;
					}
				}
			}
		}
	}

	&-body {
		.orderplaced {
			@include flex-center-column;
			gap: length(32);
			padding-bottom: length(48);

			.icon {
				width: length(184);
				height: length(282);
				@include flex-center;
				overflow: hidden;

				svg {
					@include wh100;
				}
			}

			.orderid {
				color: $dark-1;
				@include font-face($secondaryFont, style('normal'), size(14), weight('normal'), line-height(20, 14));

				.title {
					color: inherit;
					font: inherit;
					font-weight: bold;
				}
			}

			.orderok {
				width: length(160);
				height: length(48);

				.btn-submit {
					@include wh100;
				}
			}
		}
	}
}

/**=======================================================**
                    		MODAL END
**=======================================================**/