/**=======================================================**
                        CHECKOUT START
**=======================================================**/

.checkout {
  padding: length(0) length(8) length(48);
  
  @include breakpoint(tab992) {
    padding: length(0) length(8) length(64);
  }

  &-details {
    @include flex-column;
    gap: length(24);

    .order-summary {
      @include flex-column;
      gap: length(16);

      &-header {
        .summary-title {
          color: $footer-heading;
          @include font-face($primaryFont, style('normal'), size(20), weight('semibold'), line-height(28, 20));
        }
      }

      &-body {
        background: $white;
        @include radius(10);

        .order {
          @include border-single(bottom, solid, 0.5, $border-1);
          padding: length(8) length(12);
          @include flex-center-between;

          &-title {
            color: $text-primary;
            @include font-face($secondaryFont, style('normal'), size(14), weight('normal'), line-height(20, 14));
          }

          &-price {
            color: $dark-1;
            @include font-face($secondaryFont, style('normal'), size(14), weight('normal'), line-height(20, 14));

            span {
              color: inherit;
              font: inherit;
            }
          }

          &:last-of-type {
            border-bottom: 0;

            .order-title,
            .order-price {
              font-weight: bold;
            }
          }
        }
      }
    }

    .payment-methods {
      @include flex-column;
      gap: length(16);

      &-header {
        .method-title {
          color: $footer-heading;
          @include font-face($primaryFont, style('normal'), size(20), weight('semibold'), line-height(28, 20));
        }
      }

      &-body {
        background: $white;
        @include radius(10);
        padding: length(12);
        @include flex-column;
        gap: length(16);
      }
    }

    .payment-submit {
      @include flex-column;
      gap: length(20);
      
      .custom-checkbox {
        .checklabel {
          .text {
            color: $text-primary;
            @include font-face($secondaryFont, style('normal'), size(13), weight('normal'), line-height(18, 13));
            margin-top: length(14);
            
            .link {
              color: $dark-1;
              font: inherit;
              @include transitionscolor;

              @include hover {
                color: $primary;
              }
            }

            &::selection {
              @include setBgColor(transparent, $text-primary);
            }
          }
        }
      }
    }
  }
}

/**=======================================================**
                        CHECKOUT END
**=======================================================**/